.black-background {
    background-color: rgba(255, 255, 255, 0.8);
    color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}

.fancy-progress-bar {

    background: repeating-radial-gradient(circle at center, yellow 0, red, green 30px);
}